In [141]:
import pandas as pd
# , index_col='date', header=['date','open_ibova','open_oil','open_usd']
df = pd.read_csv('..\Data\ibova_oil_usd.csv')

In [142]:
import pandas_ta as ta

df['roc_open_ibova'] = ta.roc(df['open_ibova'], length=None, scalar=None, talib=None, offset=None)
df['roc_open_oil'] = ta.roc(df['open_oil'], length=None, scalar=None, talib=None, offset=None)
df['roc_open_usd'] = ta.roc(df['open_usd'], length=None, scalar=None, talib=None, offset=None)

In [143]:
df = df[['date','roc_open_ibova','roc_open_oil','roc_open_usd']]
df = df.dropna()

In [144]:
separados = {}
price_series = []
lookback = 5
count = -1
dates = df.index

# Roc to IBOVA
prices = list(df.roc_open_ibova.values)
for day in dates:
	count += 1
	if count >= lookback:
		price_series.append(prices[count-lookback:count])

df_lookback_ibova = pd.DataFrame(price_series)

# Roc to OIL
prices = list(df.roc_open_oil.values)
for day in dates:
	count += 1
	if count >= lookback:
		price_series.append(prices[count-lookback:count])

df_lookback_oil = pd.DataFrame(price_series)

# Roc to USD
prices = list(df.roc_open_usd.values)
for day in dates:
	count += 1
	if count >= lookback:
		price_series.append(prices[count-lookback:count])

df_lookback_usd = pd.DataFrame(price_series)

In [145]:
df_lookback_ibova.columns = ['ibova_0','ibova_1','ibova_2','ibova_3','ibova_4']
df_lookback_oil.columns = ['oil_0','oil_1','oil_2','oil_3','oil_4']
df_lookback_usd.columns = ['usd_0','usd_1','usd_2','usd_3','usd_4']

In [146]:
df_lookback_ibova = df_lookback_ibova.dropna()
df_lookback_oil = df_lookback_oil.dropna()
df_lookback_usd = df_lookback_usd.dropna()

In [147]:
# df_lookback_ibova = df_lookback_ibova.iloc[:-1 , :]
df_lookback_oil = df_lookback_oil.iloc[:-1 , :]
df_lookback_usd = df_lookback_usd.iloc[:-1 , :]

In [148]:
# df_lookback_ibova['index_ibova'] = range(1, len(df) - 4)
# df_lookback_oil['index_oil'] = range(1, len(df) - 4)
# df_lookback_usd['index_usd'] = range(1, len(df) - 4)

In [149]:
# Dessa forma ele ta add mais de 5 linhas do ibova em seguida
# df_final = pd.concat([df_lookback_ibova,df_lookback_oil,df_lookback_usd], axis=1, ignore_index=True)

df_final = pd.concat([df_lookback_ibova,df_lookback_oil, df_lookback_usd], axis=1, join='outer')

In [150]:
df_final.to_csv('final_ibova_oil_usd_ROC.csv',header=True)

In [151]:
df_final.tail(3)

,ibova_0,ibova_1,ibova_2,ibova_3,ibova_4,oil_0,oil_1,oil_2,oil_3,oil_4,usd_0,usd_1,usd_2,usd_3,usd_4
2390,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916
2391,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764
2392,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168

In [152]:
df_final.count()

ibova_0    2393
ibova_1    2393
ibova_2    2393
ibova_3    2393
ibova_4    2393
oil_0      2393
oil_1      2393
oil_2      2393
oil_3      2393
oil_4      2393
usd_0      2393
usd_1      2393
usd_2      2393
usd_3      2393
usd_4      2393
dtype: int64

In [153]:
print(f'{df_lookback_ibova.tail(3)}')
print(f'{df_lookback_oil.tail(3)}')
print(f'{df_lookback_usd.tail(3)}')

       ibova_0   ibova_1   ibova_2   ibova_3   ibova_4
2390 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916
2391 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764
2392 -7.903147 -6.691182 -7.227916 -6.595764 -3.359168
         oil_0     oil_1     oil_2     oil_3     oil_4
2390 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916
2391 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764
2392 -7.903147 -6.691182 -7.227916 -6.595764 -3.359168
         usd_0     usd_1     usd_2     usd_3     usd_4
2390 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916
2391 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764
2392 -7.903147 -6.691182 -7.227916 -6.595764 -3.359168

In [154]:
print(f'{df_lookback_ibova.count()}')
print(f'{df_lookback_oil.count()}')
print(f'{df_lookback_usd.count()}')

ibova_0    2393
ibova_1    2393
ibova_2    2393
ibova_3    2393
ibova_4    2393
dtype: int64
oil_0    2393
oil_1    2393
oil_2    2393
oil_3    2393
oil_4    2393
dtype: int64
usd_0    2393
usd_1    2393
usd_2    2393
usd_3    2393
usd_4    2393
dtype: int64

In [155]:
print(f'{df_lookback_ibova.isna().sum()}')
print(f'{df_lookback_oil.isna().sum()}')
print(f'{df_lookback_usd.isna().sum()}')

ibova_0    0
ibova_1    0
ibova_2    0
ibova_3    0
ibova_4    0
dtype: int64
oil_0    0
oil_1    0
oil_2    0
oil_3    0
oil_4    0
dtype: int64
usd_0    0
usd_1    0
usd_2    0
usd_3    0
usd_4    0
dtype: int64

In [156]:
df_final.iloc[0]

ibova_0    1.852453
ibova_1    5.731218
ibova_2    5.678287
ibova_3    6.704554
ibova_4    4.870696
oil_0      1.852453
oil_1      5.731218
oil_2      5.678287
oil_3      6.704554
oil_4      4.870696
usd_0      1.852453
usd_1      5.731218
usd_2      5.678287
usd_3      6.704554
usd_4      4.870696
Name: 0, dtype: float64

In [157]:
df_final.head()

,ibova_0,ibova_1,ibova_2,ibova_3,ibova_4,oil_0,oil_1,oil_2,oil_3,oil_4,usd_0,usd_1,usd_2,usd_3,usd_4
0,1.852453,5.731218,5.678287,6.704554,4.870696,1.852453,5.731218,5.678287,6.704554,4.870696,1.852453,5.731218,5.678287,6.704554,4.870696
1,5.731218,5.678287,6.704554,4.870696,5.135128,5.731218,5.678287,6.704554,4.870696,5.135128,5.731218,5.678287,6.704554,4.870696,5.135128
2,5.678287,6.704554,4.870696,5.135128,5.976096,5.678287,6.704554,4.870696,5.135128,5.976096,5.678287,6.704554,4.870696,5.135128,5.976096
3,6.704554,4.870696,5.135128,5.976096,10.159998,6.704554,4.870696,5.135128,5.976096,10.159998,6.704554,4.870696,5.135128,5.976096,10.159998
4,4.870696,5.135128,5.976096,10.159998,8.056570,4.870696,5.135128,5.976096,10.159998,8.056570,4.870696,5.135128,5.976096,10.159998,8.056570

In [158]:
df_final.tail()

,ibova_0,ibova_1,ibova_2,ibova_3,ibova_4,oil_0,oil_1,oil_2,oil_3,oil_4,usd_0,usd_1,usd_2,usd_3,usd_4
2388,-1.279721,-3.354260,-6.276465,-6.729609,-7.903147,-1.279721,-3.354260,-6.276465,-6.729609,-7.903147,-1.279721,-3.354260,-6.276465,-6.729609,-7.903147
2389,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182
2390,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916
2391,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764
2392,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168

In [159]:
df.head()

          date  roc_open_ibova  roc_open_oil  roc_open_usd
10  2010-07-20        1.852453      1.245696     -2.101434
11  2010-07-21        5.731218      3.290428     -0.534452
12  2010-07-22        5.678287      6.064395     -1.243277
13  2010-07-26        6.704554      9.587906     -0.203993
14  2010-07-27        4.870696      5.437541      0.285920

In [160]:
df.count()

date              2398
roc_open_ibova    2398
roc_open_oil      2398
roc_open_usd      2398
dtype: int64